<div class="row">
    <div class="col-lg-6">
        <h4>About Category</h4>
        <p>Mandatory informations</p>
    </div>
    <div class="col-lg-6 text-right d-flex flex-column justify-content-center">
        {{#unless category}}
        <button class="btn bg-gradient-dark ms-auto mb-0" type="button" id="next-cate">Next</button>
        <div class="modal fade" id="next-Modal" tabindex="-1" role="dialog" aria-labelledby="modal-default">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default"><b>Verify Category Creation</b>
                        </h6>
                        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                            <span>×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>After you verify this message, the system will create a new category.
                            You can then edit the specifications included of this one.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-success" data-bs-dismiss="modal"
                            id="confirm-cate">Confirm</button>
                        <button type="button" class="btn bg-gradient-secondary ml-auto"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{/unless}}
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header pb-0 px-3">
                <h5 class="font-weight-bolder mb-0">Category Information</h5>
            </div>
            <div class="card-body">
                {{#if category}}
                <input id="id" hidden value="{{category.id}}">
                {{/if}}

                <label for="name">Name</label>
                <div style="position: relative;" class="d-flex">
                    <input {{#if category}}disabled value="{{category.name}}" {{/if}} class="form-control" type="text"
                        id="name" placeholder="eg. Smartphone, Laptop,...">

                    {{#if category}}
                    <i id="edit-name-cate" class="fas fa-pencil-alt text-dark cursor-pointer custom-cursor-on-hover"
                        data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit Card"
                        data-bs-original-title="Edit Name"
                        style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px"></i>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    {{#if category}}
    <div class="col-12 col-lg-8 mx-auto" id="specs-area">
        <div class="card">
            <div class="card-header pb-0 px-3">
                <div class="row">
                    <div class="col-6">
                        <h5 class="font-weight-bolder mb-0">Included Specifications</h5>
                        <p class="mb-0 text-sm">Optional informations</p>
                    </div>
                    <div class="col-6 ms-auto my-auto mt-lg-0 mt-4 text-end">
                        <a href="" class="btn bg-gradient-warning btn-sm mb-0" data-bs-toggle="modal"
                            data-bs-target="#create-specs">+&nbsp;Specification</a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-4 p-3">
                <ul class="list-group">
                    {{#if category.specs.length}}
                    {{#each category.specs}}
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">{{name}}</h6>
                            <span class="mb-2 text-xs">Options:
                                <span class="text-dark font-weight-bold ms-sm-2">
                                    {{#each options}}
                                    {{.}} |
                                    {{/each}}
                                </span>
                            </span>
                        </div>
                        <div class="ms-auto text-end">
                            <a class="btn btn-link text-danger text-gradient px-3 mb-0">
                                <i class="far fa-trash-alt me-2"></i>
                                Delete
                            </a>
                            <a class="btn btn-link text-dark px-3 mb-0">
                                <i class="fas fa-pencil-alt text-dark me-2"></i>
                                Edit
                            </a>
                        </div>
                    </li>
                    {{/each}}
                    {{else}}
                    <div class="alert alert-light m-0" role="alert">
                        <strong>Ooops!</strong> There aren't any specifications!
                    </div>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
    {{/if}}
</div>

<!-- Modal Add Spec -->
<div class="modal fade" id="create-specs" tabindex="-1" role="dialog" style="--bs-modal-width: 800px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-bolder">New Specification</h5>
                <a href="#" class="btn bg-gradient-success btn-sm mb-0 text-end">+&nbsp;Option</a>
            </div>
            <div class="modal-body mt-3 mb-1">
                <div class="row">
                    <div class="col-12">
                        <label>Specs Name</label>
                        <input class="form-control" type="text" id="name" name="name"
                            placeholder="eg. Memory Storage, Battery Capacity,...">
                    </div>
                </div>
                <div class="row mt-3">
                    <label>Options</label>
                    <div class="col-4 mb-3">
                        <div class="d-flex">
                            <input class="form-control options" type="text" name="options">
                            <a href="" class="input-group-text delete-options">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <div class="d-flex">
                            <input class="form-control options" type="text" name="options">
                            <a href="" class="input-group-text delete-options">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <div class="d-flex">
                            <input class="form-control options" type="text" name="options">
                            <a href="" class="input-group-text delete-options">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <div class="d-flex">
                            <input class="form-control options" type="text" name="options">
                            <a href="" class="input-group-text delete-options">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <div class="d-flex">
                            <input class="form-control options" type="text" name="options">
                            <a href="" class="input-group-text delete-options">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <div class="d-flex">
                            <input class="form-control options" type="text" name="options">
                            <a href="" class="input-group-text delete-options">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <div class="d-flex">
                            <input class="form-control options" type="text" name="options">
                            <a href="" class="input-group-text delete-options">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <div class="d-flex">
                            <input class="form-control options" type="text" name="options">
                            <a href="" class="input-group-text delete-options">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 mb-3">
                        <div class="d-flex">
                            <input class="form-control options" type="text" name="options">
                            <a href="" class="input-group-text delete-options">
                                <i class="fas fa-minus text-danger"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn bg-gradient-dark" id="next-edit-btn">Next</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#next-cate').click(() => {
        $('#next-Modal').modal('show');
    });

    $('#confirm-cate').click(() => {
        $('#specs-area').show();
        $('#edit-name-cate').show();
        $('#next-cate').hide();
    });

    $('#edit-name-cate').click(() => {
        $('#name').prop('disabled', false);
    });

    $('#name').on('blur', () => {
        const newName = $(this).val();
        const categoryId = $('#id').val();
        console.log(1)
        $.ajax({
            url: '/category/updateName',
            method: 'PUT',
            data: {
                categoryId: categoryId,
                name: newName
            },
            success: function (response) {
                $('#modal-success-title').text(response.title);
                $('#modal-success-msg').text(response.message);
                $('#successModal').modal('show');
            },
            error: function (xhr, textStatus, errorThrown) {
                if (xhr.status === 400) {
                    const errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'Bad Request';
                    $('#message-modal-fail').text(errorMessage);
                    $('#failModal').modal('show');
                } else {
                    $('#message-modal-fail').text('Something went wrong. Please try again later!');
                    $('#failModal').modal('show');
                }
            }
        });

        // Sau khi gửi API, có thể đặt lại thuộc tính disabled nếu cần thiết
        // $('#name').prop('disabled', true);
    });

</script>